#agenda-section{
	position: relative;
	color:#eaeaea;
	padding:0px;
	margin: 0px;
}
.agenda-titulo{
	padding-top: 20px;
	margin-left: 300px;
}

.agenda-detalhes{
	margin-left: 300px;
	padding-bottom: 30px;
}


.agenda-pic{
	padding-top: 15%;
	height: 200px;
}

.agenda-dia{
	padding-top: 5%;
	margin-left: 250px;
}

.agenda-text{
	font-size: 20px;
	margin-left: 300px;
}


.agenda-color-A{
	background-color: #5ea06e;
}

.agenda-color-B{
	background-color: #578e77 ;
}

.agenda-color-C{
	background-color: #4f7c80 ;
}

.agenda-color-D{
	background-color: #486a89 ;
}

.agenda-color-E{
	background-color: #415992 ;
}

.agenda-color-F{
	background-color: #39479b ;
}

.agenda-color-G{
	background-color: #3035A4 ;
}



.agenda-size-A{
	height: 650px;
}

.agenda-size-B{
	height: 1300px;
}


.agenda-size-C{
	height: 1950px;
}


.break{
	height: 700px;
	width: 200px;
	background-color: #444;
	margin:0px;
	margin-top: -120px;
	position: absolute;
}

.break-A{
	height: 700px;
}

.break-B{
	height: 1400px;
}

.break-C{
	height: 2100px;
}