#agenda-section{
	position: relative;
	color:#eaeaea;
	padding:0px;
	margin: 0px;
}
.agenda-titulo{
	padding-top: 20px;
	margin-left: 300px;
}

.agenda-detalhes{
	margin-left: 300px;
	padding-bottom: 30px;
}


.agenda-pic{
	padding-top: 15%;
	max-height: 200px;
	max-width: 200px;
}

.agenda-dia{
	padding-top: 5%;
	margin-left: 250px;
}

.agenda-text{
	font-size: 20px;
	margin-left: 300px;
}


.agenda-color-A{
	background-color: #5ea06e;
}

.agenda-color-B{
	background-color: #578e77 ;
}

.agenda-color-C{
	background-color: #4f7c80 ;
}

.agenda-color-D{
	background-color: #486a89 ;
}

.agenda-color-E{
	background-color: #415992 ;
}

.agenda-color-F{
	background-color: #39479b ;
}

.agenda-color-G{
	background-color: #3035A4 ;
}



.agenda-size-A{
	height: 650px;
}

.agenda-size-B{
	height: 1300px;
}


.agenda-size-C{
	height: 1950px;
}


.break{
	height: 100%;
	width: 200px;
	background-color: #444;
	margin:0px;
	margin-top: 0px;
	position: absolute;
}

@media (max-width: 995px){
	.agenda-pic{
		max-width: 00px;
	}
}


@media (max-width: 700px){
	.break{
		width: 100px;
	}



	.agenda-titulo{
		padding-top: 20px;
		margin-left: 150px;
	}

	.agenda-detalhes{
		margin-left: 150px;
		padding-bottom: 30px;
	}

	.agenda-dia{
		padding-top: 5%;
		margin-left: 125px;
	}

	.agenda-text{
		font-size: 20px;
		margin-left: 150px;
	}




}


@media (max-width: 500px){
	.break{
		width: 00px;
	}



	.agenda-titulo{
		margin-left: 50px;
	}

	.agenda-detalhes{
		margin-left: 50px;
		
	}

	.agenda-dia{
		margin-left: 125px;
	}

	.agenda-text{
		font-size: 15px;
		margin-left: 50px;
	}




}