#footer-section{
	background-color: #444;
	height: 275px;
	color: #eaeaea;
	text-align: center;
	position: relative;
	bottom: 0px;
	width: 100%;
	z-index: 10;
	margin-top: 312%;
}

.footer-link{
	color:#eaeaea;
	text-decoration: underline;
}

.footer-link:visited {
	color:#eaeaea;
}

.footer-link:hover{
	color:#eaeaea;
}

.footer-text{
	padding-top: 2%;
	margin:0px;
}


.footer-icon{
	text-align: right;
	padding-top: 1%;
	padding-left: 3%;
	color:#eaeaea;
}

.footer-icon:hover{
	opacity: 0.3;
}


.footer-pic{
	margin: 0px;
	height: 100px;
}


.footer-icon-container{
	margin-left: -2%;
}