<section id="about-section">
		<div class="about-container">
			<h2 class="about-titulo"><b>CodeWeek@DI 2016</b></h2>


			<h3 class="col-md-7 about-text">A CodeWeek é um evento feio a nivel europeu com o objetivo de promover a programação, este ano o cesium vai fazer novamente parte do movimento.
			<p></p>
			<p>Junta te a nós para 6 dias de atividades completamente gratis junto do teu centro de estudantes.
			De 15 a 23 de Outobro, a tua agenda passa pela CodeWeek@DI.</p>
			</h3>
			<img class="about-pic" src="img/codeWeekLogo.png"/>
		</div>
</section>