{% for day in site.data.agenda %}

<section id="agenda-section" class="agenda-color-{{ day.color }} col-md-12 agenda-{{ day.size }}">



	<div class="col-md-12">

	<div class="break break-{{ day.size }} col-md-2"></div>
			

		<h1 class="agenda-dia"> {{ day.date }}  - {{ day.dayOfWeek }}</h1>
			
			{% for act in day.activities %}
			<div class="agenda-container col-md-9">

				<h2 class="col-md-7 agenda-titulo"><b> {{ act.name }} </b></h2>
				<h3 class="col-md-7 agenda-text">{{ act.text }}</h3>

				<h4 class="col-md-7 agenda-detalhes"><b> {{ act.speaker}} </b></h4>
				<h4 class="col-md-7 agenda-detalhes"> {{ act.place }} - {{ act.time }} </h4>
			</div>
			<div class="col-md-3">
				<img src="img/{{ act.image }}" class="agenda-pic"/>
			</div>
		{% endfor %}

	</div>

</section>

{% endfor %}