<section id="footer-section">

	<h3 class="footer-org"> Organizado por: </h3>

	<div class="col-md-12">
		<img src="img/cesium.png" class="footer-pic"/>
	</div>

	<div class="footer-icon-container">

		<a href="https://github.com/cesium"> <i class="fa fa-github fa-2x footer-icon"></i> </a>
		<a href="https://twitter.com/cesiuminho"> <i class="fa fa-twitter fa-2x footer-icon"></i> </a>
		<a href="https://www.facebook.com/cesiuminho"> <i class="fa fa-facebook fa-2x footer-icon"></i> </a>
		<a href="https://www.instagram.com/cesiuminho/"> <i class="fa fa-instagram fa-2x footer-icon"></i> </a>
		<a href="https://plus.google.com/103218725392069843585"> <i class="fa fa-google-plus fa-2x footer-icon"></i> </a>
	
	</div>

		<h4 class="footer-text"> Proudly hosted on 
		<a class="footer-link" href="http://github.com">Github</a>
		 by 
		 <a class="footer-link" href="http://www.cesium.di.uminho.pt/">CeSIUM</a></h4>
	
</section>