
<section id="navbar-section"> 
  <a href="/index.html">
    <div class="navbar-block">
      <h2 class="navbar-text">Desafio</h2>
    </div>
  </a>
  <a href="/index.html">
    <div class="navbar-block">
      <h2 class="navbar-text">Sabado</h2>
    </div>
  </a>
  <a href="/index.html">
    <div class="navbar-block">
      <h2 class="navbar-text">Segunda</h2>
    </div>
  </a>
  <a href="/index.html">
    <div class="navbar-block">
      <h2 class="navbar-text">Terça</h2>
    </div>
  </a>
  <a href="/Atividades">
    <div class="navbar-block">
      <h2 class="navbar-text">Quarta</h2>
    </div>
  </a>
  <a href="/Agenda">
    <div class="navbar-block">
      <h2 class="navbar-text">Quinta</h2>
    </div>
  </a>
  <a href="/index.html">
    <div class="navbar-block">
      <h2 class="navbar-text">Sexta</h2>
    </div>
  </a>
  <a href="/index.html">
    <div class="navbar-block">
      <h2 class="navbar-text">Sabado</h2>
    </div>
  </a>
</section>