
<section id="navbar-section"> 
  <a href="/index.html">
    <div class="navbar-block">
      <h2 class="navbar-text">Desafio<br>Algoritmico</h2>
    </div>
  </a>
  <a href="#agenda-color-A">
    <div class="navbar-block">
      <h2 class="navbar-text">Sábado <br>15</h2>
    </div>
  </a>
  <a href="#agenda-color-B">
    <div class="navbar-block">
      <h2 class="navbar-text">Segunda <br>17</h2>
    </div>
  </a>
  <a href="#agenda-color-C">
    <div class="navbar-block">
      <h2 class="navbar-text">Terça <br>18</h2>
    </div>
  </a>
  <a href="#agenda-color-D">
    <div class="navbar-block">
      <h2 class="navbar-text">Quarta <br>19</h2>
    </div>
  </a>
  <a href="#agenda-color-E">
    <div class="navbar-block">
      <h2 class="navbar-text">Quinta <br>20</h2>
    </div>
  </a>
  <a href="#agenda-color-F">
    <div class="navbar-block">
      <h2 class="navbar-text">Sexta <br>21</h2>
    </div>
  </a>
  <a href="#agenda-color-G">
    <div class="navbar-block">
      <h2 class="navbar-text">Sabado <br>22</h2>
    </div>
  </a>
</section>